*{
    padding: 0px;
    margin: 0px;
    
}
/* #container{
    width: 100%;
    height: 1200px;
    /* border: 1px solid red; */
    
   
#payment{
    width: 55%;
    height: 100%;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 30px;
    border-radius: 10px;
    background-color: #F4F7F3;
    /* border: 1px solid yellow; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;;
}
#cart{
    width: 45%;
    height: 100%; 
}

#payment>img{
    width: 40%;
    height: 80px;
    margin-left: 40px;
    margin-top: 40px;
   
}
#payment>p{
    margin-left: 65px ;
    font-size: 15px;
    margin-top: 20px;
    color: teal;
    margin-bottom: -20px;
}
#payment>h2{
    text-align: center;
    margin-top: 40px;
    font-size: 22px;
    color: rgb(79, 29, 29);
    margin-bottom: 20px;
    font-family: Poppins, sans-serif;
}
#box2{
    width: 81%;
    height: 70px;
    display: flex;
    margin: auto;
    
    justify-content: space-around;
    margin-top: -5px;
    margin-left: 65px;
}
#box2>img{
    width: 30%;
    height: 30px;
    padding: 10px;
    margin-top: 17px;
   margin-left: 20px;
   border-radius: 15px;
   box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#box3>div{
    width: 80%;
    height: 50px;
    justify-content: space-between;
    /* border: 1px solid red; */
    display: flex;
    margin: auto;
    margin-top: 20px;
}
.input{
   width: 78%;
   height: 40px;
   margin: auto;
   margin-left: 77px;
   margin-top: 20px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border: 0px;
   border-radius: 4px;
   padding: 5px;
   
}
#box4{
    margin-left: 77px;
    margin-top: 10px;
    color: teal;
    padding: 5px;
}
#form>h2{
    margin-left: 74px;
    font-size: 23px;
    color: teal;
    margin-top: 25px;
    font-family: Poppins, sans-serif;
}
#form>label{
    font-family: Poppins, sans-serif;
    font-size: 14px;
}
.box5{
    width: 33.7%;
    height: 40px;
    margin-top: 20px;
    margin-left: 77px;
    /* justify-content: space-between; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border: 0px;
   border-radius: 4px;
   padding: 5px;

    
}
#box7{
    width: 23%;
    height: 47px;
    margin-left: 77px;
    justify-content: space-around;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border: 0px;
   border-radius: 4px;
   padding: 5px;
   
}
#box8{
    width: 23%;
    height: 47px;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0px;
    border-radius: 4px;
    margin-left: 35px;
    padding: 5px;
}
#box9{
    width: 23%;
    height: 38px;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border: 0px;
   border-radius: 4px;
   margin-left: 32px;
   padding: 5px;
}
#form>a{
    text-decoration: none;
}
#form>a>p{
    text-align: center;
    padding-top:25px ;
    width: 25%;
    height: 40px;
    margin-left: 75px;
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border: 0px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    
}
#form>a>p:hover{

    font-family: Poppins, sans-serif;
    background-color: black;
    color: white;
    font-size: 18px;  
}